@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: rgb(4, 7, 13);
  --ui-1: rgb(16, 19, 28);
  --ui-2: rgba(8, 9, 10, 0.75);
  --text: rgb(213, 219, 230);
  --text-70: rgba(213, 219, 230, 0.7);
  --text-40: rgba(213, 219, 230, 0.4);
  --border: rgba(216, 231, 242, 0.07);
  --success-1: #53b957;
  --warning-1: #f39237;
  --error-1: #ea6868;
  --blue: rgb(166, 218, 255);
}

.light {
  --bg: rgb(255, 255, 255);
  --ui-1: rgb(245, 247, 250);
  --ui-2: rgba(240, 242, 245, 0.75);
  --text: rgb(23, 25, 35);
  --text-70: rgba(23, 25, 35, 0.7);
  --text-40: rgba(23, 25, 35, 0.4);
  --border: rgba(23, 25, 35, 0.1);
  --success-1: #38a63c;
  --warning-1: #d97b1e;
  --error-1: #d94f4f;
  --blue: rgb(37, 99, 155);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text);
}
